[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Frimann Kjerulf
	email = laukur@gmail.com

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  lg = log --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold green)<%an>%Creset' --abbrev-commit --date=relative
  lc = log ORIG_HEAD.. --no-merges --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
#        editor = vim
#       autocrlf = true
#       whitespace = cr-at-eol

[color]
        branch = auto
        diff = auto
        status = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red
        new = cyan
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[merge]
	tool = sublime
